input[type=submit], custom-header, custom-footer, .smallseparator, .hide {
	display: none;
}

input[type=text] {
	width:  100%;
}

input[type=text], input[type=number], input:disabled {
	line-height: 110%;
	border: 1px solid  black;
	color: black;
}

input::placeholder {
	color:  black;
}

.noborder, .noborder input[type=text] {
	border:  hidden;
}
.col-3 {
	width:  100%;
}

#formulaspace {
	padding: 0;
	background-color:  white;
}

body {
	background-color:  white;
}

